<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additions</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
     h1{
        text-align: center;
    } 
</style>
<body>
    <nav id="navagtion" class="nav-bar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('The_Awards') }}">The Awards</a></li>
            <li><a href="{{ url_for('The_numbers') }}">The Manga Numbers</a></li>
            <li><a href="{{ url_for('Additions') }}">Additions</a></li>
        </ul>
    </nav>
    <h1>Additions</h1>
    <div id="Months" class="List">
        <h3>sires im thinking about adding</h3>
        <h3>January</h3>
        <div id="January">

        </div>
        <h3>February</h3>
        <div id="February">

        </div>
        <h3>March</h3>
        <div id="March">

        </div>
        <h3>April</h3>
        <div id="April">

        </div>
        <h3>May</h3>
        <div id="May">

        </div>
        <h3>June</h3>
        <div id="June">

        </div>
        <h3>July</h3>
        <div id="July">

        </div>
        <h3>August</h3>
        <div id="August">

        </div>
        <h3>September</h3>
        <div id="September">

        </div>
        <h3>October</h3>
        <div id="October">

        </div>
        <h3>November</h3>
        <div id="November">

        </div>
        <h3>December</h3>
        <div id="December">

        </div>


    </div>
    
</body>
<script>
    
</script>
</html>