<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Report Home Page</title>
    <link rel="stylesheet" href="stely.css">
</head>
<style>

</style>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">The Awards</a></li>
            <li><a href="{{ url_for('index') }}">The Manga Numbers</a></li>
        </ul>
    </nav>
</body>
<script>
    
</script>
</html>