<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Awards of 2024</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
     h1{
        text-align: center;
    }
</style>
<body>
    <nav id="navagtion" class="nav-bar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('The_Awards') }}">The Awards</a></li>
            <li><a href="{{ url_for('The_numbers') }}">The Manga Numbers</a></li>
            <li><a href="{{ url_for('Additions') }}">Additions</a></li>
        </ul>
    </nav> 
    <h1>The Awards</h1>

    <h3>MVP</h3>
    <div id="MVP">

    </div>
    
    <h3>Best Anime</h3>
    <div id="Best_anime">

    </div>

    <h3>Best Movie</h3>
    <div id="Best_movie">

    </div>
    
    <h3>Rookie Of The Year</h3>
    <div id="Rookie_Of_The_Year">

    </div>

    <h3>Best Romcom Of The Year</h3>
    <div id="Best_Romcom_Of_The_Year">

    </div>

    <h3>Most Chapters Read</h3>
    <div id="Most_Chapters_Read:">

    </div>

    <h3>Best Mangaka Of The Year</h3>
    <div id="Best_Mangaka_Of_The_Year">

    </div>

    <h3>Biggest Comeback Of The Year</h3>
    <div id="Biggest_Comeback_of_the_year">

    </div>

    <h3>Best Ending of the year</h3>
    <div id="Best_Ending_of_the_year">

    </div>

    <h3>Biggest Fall Off of the year</h3>
    <div id="Biggest Fall Off of the year">

    </div>
    <h3>The “Dallas Cowboys” award</h3>
    <div id="The_Dallas_Cowboys_award">

    </div>
</body>
<script>
    
</script>
</html>