<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Awards of 2024</title>
</head>
<body>
    <nav id="navagtion" class="nav-bar">
        <div>
            <ul>
                <li class="nav-item">
                    <a class="" href="index.html">home</a>
                </li>
                <li class="nav-item">
                    <a class="" href="TheMangaReport24.html">the report</a>
                </li>
                <li class="nav-item">
                    <a class="" href="TheAwards.html">The Awards</a>
                </li>
            </ul> 
        </div>   
    </nav> 
    
</body>
<script>
    
</script>
</html>