<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Manga Report 2024</title>

</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
    h1{
        text-align: center;
    }

</style>
<body>
    <nav id="navagtion" class="nav-bar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('The_Awards') }}">The Awards</a></li>
            <li><a href="{{ url_for('The_numbers') }}">The Manga Numbers</a></li>
        </ul>
    </nav>
    <h1>The Numbers</h1>
     <img src="{{ url_for('static', filename='images/Screenshot 2025-05-18 191713.png') }}" alt="PieCart">

</body>
<script>
    
</script>
</html>